{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- fashion section start -->
<div class="fashion_section">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="fashion_taital">熱門商品</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Man T -shirt</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/tshirt-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Man -shirt</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/dress-shirt-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Woman Scart</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/women-clothes-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <h1 class="fashion_taital">熱門商品</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Man T -shirt</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/tshirt-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Man -shirt</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/dress-shirt-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Woman Scart</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/women-clothes-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <h1 class="fashion_taital">Man & Woman Fashion</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Man T -shirt</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/tshirt-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Man -shirt</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/dress-shirt-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">Woman Scart</h4>
                           <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                           <div class="tshirt_img"><img src="{% static 'images/women-clothes-img.png' %}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#">進入比價</a></div>
                              <div class="seemore_bt"><a href="ex_fashion">更多</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
   </div>
</div>
<!-- fashion section end -->
<div class="product-list">
   {% for result in results %}
      <div class="product hover-effect">
         <a href="{{ result.link }}" target="_blank">
            <img src="{{ result.pic }}" alt="{{ result.title }}">
         </a>
         <h5><div class="product-title">{{ result.title }}</div></h5>
         <div class="product-price">NT${{ result.price }}</div>
         <nav class="level">
            <div class="level-left">
               <div class="level-item">
                  <a href="{{ result.link }}" class="button is-warning" target="_blank">商品詳情</a>
               </div>
            </div>
            <div class="level-right">
               {% comment %} <form method="POST"> {% endcomment %}
                  <input type="hidden" name="product_id" value="add_to_cart">
                  <input type="submit" name="add_to_cart" value="追蹤" onclick="if (confirm('是否追蹤商品？')) { action = './log in.html'; } else { alert('取消'); }">
               {% comment %} </form> {% endcomment %}
            </div>
         </nav>
      </div>
   {% endfor %}
      {% comment %} <div class="product hover-effect">
          <a href="#">
              <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
              <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
              </div>
              <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
              </div>
          </nav>
      </div>
      <div class="product hover-effect">
          <a href="#">
              <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
              <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
              </div>
              <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
              </div>
          </nav>
      </div>
      <div class="product hover-effect">
          <a href="#">
              <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
              <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
              </div>
              <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
              </div>
          </nav>
      </div>
      <div class="product hover-effect">
          <a href="#">
                  <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
                  <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
                  </div>
                  <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
                  </div>
          </nav>
          </div>
          <div class="product hover-effect">
          <a href="#">
                  <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
                  <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
                  </div>
                  <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
                  </div>
          </nav>
          </div>
          <div class="product hover-effect">
          <a href="#">
                  <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
                  <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
                  </div>
                  <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
                  </div>
          </nav>
          </div>
          <div class="product hover-effect">
          <a href="#">
              <img src="//diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/6529468/0/637973753679270000?v=1" alt="【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》">
          </a>
          <h5><div class="product-title">【PS5】胡鬧廚房！全都好吃 (原譯：煮過頭 吃到飽)《中文版》</div></h5>
          <div class="product-price">NT$880</div>
          <nav class="level">
              <div class="level-left">
                  <div class="level-item">
                      <a href="#" class="button is-warning">商品詳情</a>
                  </div>
              </div>
              <div class="level-right">
                  <form action="../add_to_cart" method="POST">
                      <input type="hidden" name="product_id" value="6529468">
                      <input type="submit" class="button is-link" name="add_to_cart" value="追中">
                  </form>
              </div>
          </nav>
      </div> {% endcomment %}
  </div>
</div>
{% endblock %}
