{% extends "search-base.html" %}
{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <body>
      {% for res in zip(title,price,pic,link) %}
      <div class="col-lg-4 col-sm-4">
         <div class="box_main">
            <h4 class="shirt_text">{{ res.title }}</h4>
            <p class="price_text">{{ res.price }}<span style="color: #262626;">$ 30</span></p>
            <div class="tshirt_img"><img src="{{ res.pic }}"></div>
            <div class="btn_main">
               <div class="buy_bt"><a href="{{ res.link }}">進入比價</a></div>
               <div class="seemore_bt"><a href="../ex_fashion">更多</a></div>
            </div>
         </div>
      </div>
      {% endfor %}
   </body>
</html>
{%endblock%}