<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>LWF</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="../static/css/old_style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="../static/css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <!-- font awesome -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--  -->
        <!-- owl stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesoeet" href="../static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <link rel="stylesheet" href='../static/css/track.css'>
    </head>
     <body>
        <!-- banner bg main start -->
        <div class="banner_bg_main">
           <!-- header top section start -->
           <div class="container">
              <div class="header_section_top">
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="custom_menu">
                          <ul>
                             <li><a href="./ex_index.html"><img src="../static/images/logo-ch2.png"></a></li>
                             <li><a href="ex_fashion.html">3C產品</a></li>
                             <li><a href="ex_fashion.html">衣服服飾</a></li>
                             <li><a href="ex_fashion.html">生活用品</a></li>
                             <li><a href="ex_fashion.html">寵物用品</a></li>
                             <li><a href="ex_fashion.html">文具用品</a></li>
                             <!-- <div class="login_menu">
                                <ul>
                                   <li><a href="./log in.html">
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                      <span class="padding_10">登入</span></a>
                                   </li>
                                   <li><a href="./register.html">
                                      <i class="fa-thin fa-person" aria-hidden="true"></i>
                                      <span class="padding_10">註冊</span></a>
                                   </li>
                                </ul>
                             </div> -->
                          </ul>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- header top section start -->
           <!-- logo section start -->
           <div class="logo_section">
              <div class="container">
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="logo"><a href="./ex_index.html"><img src="../static/images/logo-ch1.png"></a></div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- logo section end -->
           <!-- header section start -->
           <div class="header_section">
              <div class="container">
                 <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                       <a href="./ex_index.html">首頁</a>
                       <a href="./ex_fashion.html">人氣商品</a>
                       <a href="./base.html">登出</a>
                    </div>
                    <span class="toggle_icon" onclick="openNav()"><img src="../static/images/toggle-icon.png"></span>
                    <!-- <div class="dropdown">
                       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category 
                       </button>
                       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                       </div>
                    </div> -->
                    <div class="main">
                       <!-- Another variation with a button -->
                       <div class="input-group">
                          <input type="text" class="form-control" placeholder="搜尋">
                          <div class="input-group-append">
                             <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                             <i class="fa fa-search"></i>
                             </button>
                          </div>
                       </div>
                    </div>
                    <div class="header_box">
                       <div class="lang_box ">
                          <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                          <img src="../static/images/flag-taiwan.png" alt="flag" class="mr-2 " title="United Kingdom"> 中文(繁體) <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                          </a>
                          <!-- <div class="dropdown-menu ">
                             <a href="#" class="dropdown-item">
                             <img src="images/flag-france.png" class="mr-2" alt="flag">
                             French
                             </a>
                          </div> -->
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- header section end -->
           <!-- banner section start -->
           <div class="banner_section layout_padding">
              <div class="container">
                 <div id="my_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                       <div class="carousel-item active">
                          <div class="row">
                             <div class="col-sm-12">
                                <h1 class="banner_taital">想好 <br>要買什麼了嗎?</h1>
                                <div class="buynow_bt"><a href="./ex_fashion.html">前往網頁</a></div>
                             </div>
                          </div>
                       </div>
                       <div class="carousel-item">
                          <div class="row">
                             <div class="col-sm-12">
                                <h1 class="banner_taital">想好 <br>要買什麼了嗎?</h1>
                                <div class="buynow_bt"><a href="./ex_fashion.html">前往網頁</a></div>
                             </div>
                          </div>
                       </div>
                       <div class="carousel-item">
                          <div class="row">
                             <div class="col-sm-12">
                                <h1 class="banner_taital">想好 <br>要買什麼了嗎?</h1>
                                <div class="buynow_bt"><a href="./ex_fashion.html">前往網頁</a></div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                    </a>
                 </div>
              </div>
           </div>
           <!-- banner section end -->
        </div>
        <!-- banner bg main end -->
        
         <div class="container" style="background-color: #FFFFFF; border-color:#FFFFFF ">
            <hr>
            <h1 class="title is-3">您所追中的商品</h1>
            <div class="Inner-container" style="border-color:#D9D9D9">
                <div class="left">
                    <div class="box" style="border-color: #FFFFFF">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="http://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/8623121/0/638227870793630000?v=1" alt="【PS5】巫師3 次世代 完整版《中文版》">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>【PS5】巫師3 次世代 完整版《中文版》</strong> <small>新增於</small> <small>31m</small>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        NT$990
                                    </div>
                                </nav>
                                <form action="/remove_from_cart" class="remove-form" method="POST">
                                    <input type="hidden" name="product_id" value="8623121">
                                    <button type="button" class="button is-warning" onclick="confirmRemove(this)">移出購物車</button>
                                </form>
                            </div>
                        </article>
                    </div>
                    
                    <div class="box" style="border-color: #FFFFFF">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="http://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/8524309/0/638211362079100000?v=1" alt="【PS5】魔戒：咕噜《中文版》">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>【PS5】魔戒：咕噜《中文版》</strong> <small>新增於</small> <small>31m</small>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        NT$1,390
                                    </div>
                                </nav>
                                <form action="/remove_from_cart" class="remove-form" method="POST">
                                    <input type="hidden" name="product_id" value="8524309">
                                    <button type="button" class="button is-warning" onclick="confirmRemove(this)">移出購物車</button>
                                </form>
                            </div>
                        </article>
                    </div>
                    
                    <div class="box" style="border-color: #FFFFFF">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="http://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/7659009/0/637976410015330000?v=1" alt="【PS5】JOJO 的奇妙冒險 群星之戰 重製版《中文版》">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>【PS5】JOJO 的奇妙冒險 群星之戰 重製版《中文版》</strong> <small>新增於</small> <small>31m</small>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        NT$1,490
                                    </div>
                                </nav>
                                <form action="/remove_from_cart" class="remove-form" method="POST">
                                    <input type="hidden" name="product_id" value="7659009">
                                    <button type="button" class="button is-warning" onclick="confirmRemove(this)">移出購物車</button>
                                </form>
                            </div>
                        </article>
                    </div>
                    
                    <div class="box" style="border-color: #FFFFFF">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="http://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Cropped/SalePage/7091723/0/638119668920270000?v=1" alt="【PS5】艾爾登法環 ELDEN RING《中文版》">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>【PS5】艾爾登法環 ELDEN RING《中文版》</strong> <small>新增於</small> <small>31m</small>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        NT$1,790
                                    </div>
                                </nav>
                                <form action="/remove_from_cart" class="remove-form" method="POST">
                                    <input type="hidden" name="product_id" value="7091723">
                                    <button type="button" class="button is-warning" onclick="confirmRemove(this)">移出購物車</button>
                                </form>
                            </div>
                        </article>
                    </div>
                    
                    
                </div>
                <div class="right">
                    <div class="box" style="border-color: #FFFFFF">
                        <div class="field">
                            <div class="subtitle is-4">小計明細</div>
                            <!-- Main container -->
                            <nav class="level">
                                <!-- Left side -->
                                <div class="level-left">
                                    <div class="level-item">
                                        <p class="subtitle is-6">
                                            <strong>商品金額</strong>
                                        </p>
                                    </div>
                                </div>
                                <!-- Right side -->
                                <div class="level-right">
                                    <p class="subtitle is-6">
                                        <strong>5660</strong>
                                    </p>
                                </div>
                            </nav>
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <p class="subtitle is-6">
                                            <strong>折扣金額</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <p class="subtitle is-6">
                                        <strong>300</strong>
                                    </p>
                                </div>
                            </nav>
                            <hr class="line">
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <p class="subtitle is-6">
                                            <strong>小計</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <p class="subtitle is-6">
                                        <strong>5360</strong>
                                    </p>
                                </div>
                            </nav>
        
                            <div class="level-left">
                                <div class="level-item"></div>
                            </div>
                            <div class="level-right">
                                <form action="/checkout" class="checkout-form" method="POST">
                                    <input type="hidden" name="total_price" value="5660">
                                    <input type="hidden" name="discount" value="300">
                                    <input type="hidden" name="payment" value="5360">
                                    <button type="button" class="button is-primary"
                                        onclick="confirmCheckOut(this)">前往頁面</button>
                                </form>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="box" style="border-color: #FFFFFF">
                        <div class="field">
                            <nav class="level">
                                <div class="level-left">
                                    <form action="clear_cart" class="clear-form">
                                        <button type="button" class="button is-danger"
                                            onclick="confirmClearCart(this)">全部移除</button>
                                    </form>
                                </div>
                                <div class="level-right">
                                    <a href="/" class="button">繼續購物</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
         </div>













         
        <!-- footer section start -->
        <div class="footer_section layout_padding">
            <div class="container">
            <div class="footer_logo"><a href="./ex_index.html"><img src="../static/images/logo-ch1.png"></a></div>
            <!-- <div class="input_bt">
                <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
                <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div> -->
            <div class="footer_menu">
                <ul>
                    <li><a href="./ex_fashion.html">3C產品</a></li>
                    <li><a href="./ex_fashion.html">衣服服飾</a></li>
                    <li><a href="./ex_fashion.html">生活用品</a></li>
                    <li><a href="./ex_fashion.html">寵物用品</a></li>
                    <li><a href="./ex_fashion.html">文具用品</a></li>
                </ul>
            </div>
            <div class="location_main">客服電話 : <a href="#">+1 1800 1200 1200</a></div>
            </div>
        </div>
        <!-- footer section end -->
        <!-- copyright section start -->
        <div class="copyright_section">
            <div class="container">
            <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
            </div>
        </div>
        <!-- copyright section end -->
        <!-- Javascript files-->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.0.0.min.js"></script>
        <script src="js/plugin.js"></script>
        <!-- sidebar -->
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/custom.js"></script>
        <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            }
            
            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</html>